@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&display=swap');

body
{
    background-color: #090909;
    font-family: "Inter";
}

.page
{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;

    &-box
    {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title 
        {
            font-size: 60px;
            font-weight: 600;
            color: #48B79F;
            letter-spacing: 2px;
        }

        &-show
        {
            font-size: 80px;
        }

        &-button 
        {
            display: flex;

            &s
            {
                padding: 10px 20px;
                background-color: #48B79F;
                margin: 10px;
            }
        }
    }
}